

/* Start:/local/templates/main/components/bitrix/news/.default/bitrix/news.detail/.default/style.css?1610486911189*/
div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:none;
	margin:0 8px 6px 1px;
}
.dt_prsm{
	margin-bottom: 10px;
}
.news-date-time
{
	color:#486DAA;
}

/* End */
/* /local/templates/main/components/bitrix/news/.default/bitrix/news.detail/.default/style.css?1610486911189 */
